.my-footer {
  position: fixed;
  bottom: 0;
  color: rgb(255, 255, 255);
  width: 100%;
  background-color: #555;
  padding: 0;
  text-align: center;
}

.my-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.my-row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-col-12 {
  width: 100%;
}

.text-center {
  text-align: center;
}
